@charset "utf-8";
*{
	font-family:Arial,Verdana,sans-serif;
}
/*Title's image*/
#title{
	width:100%;
	overflow: auto;
}
#title > img{
	display:block;
	margin:10px 20px 10px;
	float:right;
}

/* Time and date now*/
p{
	font-size:20px;
	margin:10px;
	color:#757575;
	font-size: 20px;
}
#yyyymmdd,#apm , #HHMM{
	margin:10px 0px 10px 20px;
	font-size:17px;
	display:inline;
	color:#69a0d6;
}

/* check box */
#auto_setting , #use_24hr {
	font-size:20px;
	margin:10px;
	width:90%;
	color:#757575;
}
	#use_24hr{
		border-top:1px solid #ccc;
		padding-top:10px;
	}
	#auto_setting{
		border-top:1px solid #ccc;
		padding-top:10px;
	}

/* Manual */
form{
	margin-top:20px;
	margin-left:10px;
	font-size:20px;
	color:#757575;
}
#manualTimeZone{
	margin-bottom:10px;
	color:#CBCBCB;
}
.manual label {
	display:block;
	margin-top:15px;
	margin-left:20px;
	margin-bottom: 15px;
	font-size:17px;
	color:#CBCBCB;
}
option{
	width:85%;
	color:#757575;
}
select{
	width:90%;
	background-color:#fff;
	color:#CBCBCB;
	border:1px solid #ccc;
	padding:3px;
	font-size:15px;
	border-radius: 10px;
}

@media only screen and (min-width:769px){

	/*--- link of setting navigator ----*/
	#nav #setDetail{
		display:block;
	}


	#pageContent{
		top:130px;
		position: relative;
	}
		

	/*----  hide image ---*/
	#title{
		display:none;
	}

	/*--- white trigger on 2's nav  ---*/
	#TimeSet::before{
		content:"";
		position:absolute;
		border-style:solid;
		border-color:#fff transparent;
		border-width:0px 15px 15px 15px;
		bottom:0px;
	}


	/*---- time and date now ----*/
	p{
		width:300px;
		display:inline;
	}


	#auto_setting , #use_24hr{
		margin-top:20px;
		margin-bottom: 20px
	}
		#use_24hr{
			padding-top:20px;
		}	
		#auto_setting{
			padding-top:20px;
		}
}

@media only screen and (min-width:961px){
	#pageContent{
		width:760px;
		margin:0px auto;
	}
}